@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text: 17 24 39; /* gray-900 */
    --color-background: 249 250 251; /* gray-50 */
    --color-primary: 37 99 235; /* blue-600 */
  }

  .dark {
    --color-text: 255 255 255; /* white */
    --color-background: 17 24 39; /* gray-900 */
    --color-primary: 59 130 246; /* blue-500 */
  }
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  /* Remove this media query that might be causing dark mode by default */
  /* @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
